h1 {
    font-size: 5vw;
}
.docs {
    text-align: left;
    font-size: 1.5vw;
    padding-left: 25vw;
    padding-right: 25vw;
    font-weight: 200;
}

.docs a:link,
a:visited {
    text-decoration: none;
    font-weight: 300;
}
.docs a:hover {
    background-color: rgba(87, 87, 87, 0.2);
}

img {
    max-width: 100%;
    max-height: 100%;
}
