.result-pane > div {
    top: 57px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;

    font-size: 16px;
    line-height: 1.5em;
}

h1 {
    font-size: 3vw;
}
.docs {
    text-align: left;
    font-size: 1.5vw;
    padding-left: 25vw;
    padding-right: 25vw;
    font-weight: 300;
}

a:link,
a:visited {
    color: black;
    text-decoration: underline;
}
a:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.473);
    border-radius: 0.5vw;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.markdown-controls {
    position: relative;
    z-index: 5;
    text-align: right;
    color: #fff;
    float: right;
}

.markdown-controls form {
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.markdown-controls legend {
    border-bottom: 0;
    color: #fff;
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0 0 0;
}

pre {
    border: 1px solid #ccc;
}

blockquote {
    color: rgb(0, 0, 0);
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

tr {
    border-top: 1px solid #000000;
    background: rgb(255, 255, 255);
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}
