html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
}

.mapDIV {
  position: fixed;
  top: 0%;
  width: 1800px;
  height: 100%;
  /* opacity: 0.6; */
}

.listing-group {
  font: 10px "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  max-width: 20%;
  color: #fff;
}

.listing-group input[type="checkbox"]:first-child + label {
  border-radius: 3px 3px 0 0;
}

.listing-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.listing-group input[type="checkbox"] {
  display: none;
}

.listing-group input[type="checkbox"] + label {
  background-color: #a0a0a0;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.listing-group input[type="checkbox"] + label:hover,
.listing-group input[type="checkbox"]:checked + label {
  background-color: #808080;
}

.listing-group input[type="checkbox"]:checked + label:before {
  content: "✔";
  margin-right: 5px;
}
