html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
  font: 0.5em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.loading {
  font-size: 4em;
  font-weight: bold;
  color: white;
  z-index: 0;
  max-width: 1em;
  max-height: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 1.5em;
  top: 10em;
  right: 10em;
  font-weight: 100;
  padding: 1em;
  position: absolute;
  z-index: 100;
}

.uiList input[type="checkbox"] {
  display: none;
}

.uiList input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 1em;
}

.uiList input[type="checkbox"] + label:hover {
  border: 1px solid rgb(255, 255, 255);
  margin: 1em;
}

.uiList input[type="checkbox"]:checked + label {
  background-color: rgba(255, 255, 255, 0.3);
}

.uiList input[type="checkbox"]:checked + label:before {
  content: "❒";
  margin-right: 1em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2em;
  background: #383838;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background: #ffffff;
  cursor: pointer;
}

/* keystone div */
.keystoneDiv {
  position: fixed;
  top: 0%;
  /* width: 1920px;
  height: 1080px; */
  width: 100%;
  height: 100%;
}
