html {
  height: 100%;
  font: 0.8em "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
}

.helpDiv {
  border-radius: 1.5em;
  text-align: left;
  overflow: auto;
  font-size: 2em;
  padding: 1em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(1em);
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.helpDivFont {
  font-size: 1em;
}

.helpDiv a:link,
a:visited {
  color: white;
  text-decoration: none;
  font-weight: 400;
}
.helpDiv a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.landingPage {
  position: fixed;
  top: -100%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.landingPage img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

.ui {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  border-radius: 1.5em;
  bottom: 5em;
  right: 5em;
  font-weight: 100;
  padding: 1em;
  position: absolute;
  z-index: 100;
  display: none;
}

button:focus {
  outline: 0;
}

.UIButtons {
  display: inline-block;
  cursor: pointer;
  margin: 0.5em;
  border-radius: 0.7em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1em;
  background: #1d1d1d;
  color: white;
  font-weight: lighter;
}

.UIButtons:hover {
  border: 1px solid rgb(143, 143, 143);
}
.UIButtons:active {
  background: rgb(255, 255, 255);
}

.uiList input[type="checkbox"] {
  display: none;
}

.inlineBlock {
  display: inline-block;
}
.hidden {
  display: none;
}

.uiList input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0.2em;
  max-width: 10em;
}

.uiList input[type="checkbox"] + label:hover {
  border: 1px solid rgb(255, 255, 255);
}

.uiList input[type="checkbox"]:checked + label {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5em;
  background: #383838;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 1em;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2em;
  height: 1em;
  background: #ffffff;
  cursor: pointer;
}

.ABMtext {
  font-size: 1em;
}

/* keystone div */
.keystoneDiv {
  position: fixed;
  top: 0%;
  /* width: 1920px;
  height: 1080px; */
  width: 100%;
  height: 100%;
}

/* Spinner  */
.spinner {
  width: 4em;
  height: 4em;
  border: 1em solid #ffffff;
  border-radius: 100%;
  border-top: 1em solid rgba(255, 255, 255, 0.24);
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  z-index: 1000;
  position: fixed;
  top: 5em;
  right: 5em;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.boxdraw {
  background: rgba(255, 255, 255, 0.5);
  border: 1px dashed #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.typesMarkersStyle {
  text-align: left;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  padding: 0.5em;
  border-radius: 40%;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.5);
  color: black;
}
