.blur {
    border-radius: 10%;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}
.mapStats {
    color: white;
    font-weight: 100;
    z-index: 100;
    position: fixed;
    padding: 2em;
    font-size: 0.8em;
    max-width: 15em;
    min-width: 10em;
    bottom: 0.5em;
    text-align: left;
    left: 0.5em;
}
