[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"

[dev-packages]
cs-brix = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
