.background {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
}
h1 {
    font-size: 5vw;
}
.info {
    text-align: left;
    overflow: auto;
    font-size: 3vw;
    padding: 1em;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info a:link,
a:visited {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.info a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
