[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
orjson = "*"
redis = "*"
pyyaml = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"

[dev-packages]
cs-brix = "*"
jupyterlab = "*"
neovim = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
